<main>
    <section>
      <h2>Login</h2>
        <form>
              <label for="inputUsuario">Usuário</label>
              <input type="text" class="form-control" id="inputUsuario" placeholder="email@example.com.br">
              <br>

              <label for="inputSenha2">Senha</label>
              <input type="password" class="form-control" id="inputSenha2" placeholder="senha@1234">

              <br>
              <button type="submit" routerLink="/inicio" routerLinkActive="active">Entrar</button>
          </form>
    </section>
</main>