.example-spacer {
  flex: 1 1 auto;
}

span {
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

img {
  height: 50px;
  width: 50px;
}

span {
  cursor: pointer;
}
