<p>
    <mat-toolbar color="black">
      <mat-toolbar-row>
          <span>LOGO</span>
          <span class="example-spacer"></span>

          <span>HOME</span>
          <span>DEPARTAMENTOS</span>
          <span>MONTE SEU PC</span>
          <span>CONTATO</span>
          <span class="example-spacer"></span>

          <span><mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search"></mat-icon></span>
          <span><mat-icon aria-hidden="false" aria-label="Person icon" fontIcon="person_outline"></mat-icon></span>
          <span><mat-icon aria-hidden="false" aria-label="Shopping icon" fontIcon="shopping_cart"></mat-icon></span>
        </mat-toolbar-row>
      </mat-toolbar>
  </p>